body {
  background: linear-gradient(
    180deg,
    rgba(253, 249, 251, 1) 45%,
    rgba(245, 240, 255, 1) 100%
  );
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
